<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.lizsoft.app"
    tools:ignore="MissingLeanbackLauncher">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name="de.lizsoft.app.AppShell"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Travel Auto check"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

    </application>

</manifest>